body{
    font-family: "Droid Sans Mono";
    font-size:24px;
}

div {
    text-align: center;
    line-height: 60px; // Interlinea.
    vertical-align: middle;
    display: inline-block;
    height: 60px;
    width: 60px;
    border: 1px solid black;
    float:left;
}

#calculator {
    background-color: rgb(32, 193, 171);
    display: block;
    height: 370px;
    width: 248px;
    margin:30px;
}

#calculator > .zero{
    height: 60px;
    width: 122px;
}

#calculator > div:active {
    background-color: rgb(10, 91, 87);
}
#display{
    background-color: rgb(55, 99, 93);
    color: white;
    display: block;
    height: 60px;
    width: 246px;
    text-align: right;
}

#display > #value{
    padding-right: 8px;
}

#calculator > .operator{
    background-color: rgb(221, 215, 126);
}